.btn,
.jumbotron,
.nav :hover {
  border-radius:30px;
}

.jumbotron{
  background-color: #fff;
}

body{
  background: #fff;
}

.nav-bar,.footer{
  background-color: #323232;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.jumbotron{
  padding: 0;
}

div.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.bg-myDark{
  background-color: #cccccc;
}





